rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /files/{realtorUid}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == realtorUid;
    }
    match /listings/{listingId}/{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
